{
  "plugins": ["mongodb", "jest"],
  "env": {
    "node": true,
    "jest": true,
    "mongo": true
  },
  "extends": [
    "airbnb-base",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2021
  },
  "rules": {
    "no-console": 0,
    "prettier/prettier": [
      "error",
      {},
      {
        "usePrettierrc": true
      }
    ],
    "import/no-unresolved": 0,
    "import/extensions": [0, "ignorePackages"]
  }
}
