{
  "plugins": ["mongodb", "jest", "no-secrets"],
  "env": {
    "node": true,
    "jest": true,
    "mongo": true,
    "es2021": true
  },
  "extends": ["airbnb-base", "plugin:import/recommended"],
  "parserOptions": {
    "ecmaVersion": "latest",
    "impliedStrict": true,
    "sourceType": "module"
  },
  "rules": {
    "no-console": 0,
    "no-secrets/no-secrets": "error",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["test/*.test.js", "scripts/*.js"]
      }
    ],
    "import/extensions": ["error", "always"]
  }
}
