{
  "plugins": [
    "security",
    "mongodb",
    "jest"
  ],
  "env": {
    "node": true,
    "jest": true,
    "mongo": true
  },
  "extends": [
    "plugin:security/recommended",
    "airbnb"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018,
    "impliedStrict": true
  },
  "rules": {
    "no-restricted-syntax" : 0,
    "no-console": 0,
    "class-methods-use-this": 0,
    "no-param-reassign": 0,
    "security/detect-object-injection": 0
  }
}
